
<div class="primary-section">
    <div class="logo"> <a href="http://www.webgranth.com"><img src="~/images/logo.png" alt="logo" title="webgranth" /></a></div>
    <div class="header-aside">
        <span>+90 120 4735100</span>
    </div>
</div>
<div class="nav-section">
    <ul class="navigation">
        <li><a href="#">Anasayfa </a></li>
        <li><a href="#">Ürünler </a></li>
        <li><a href="#">Yeni Kayıt </a></li>
    </ul>
    <ul class="search-box">
        <li>
            <input type="text" value="Ara..." id="user_search" autocomplete="off" onkeypress="submitenter_search(event);" onblur="if (this.value=='')this.value='search';" onfocus="if (this.value=='search')this.value=''" />
        </li>
        <li class="sms-last">
            <input type="submit" value="" class="submit" />
            <a href="#"> search</a>
        </li>
    </ul>
</div>

